.profilephoto {
    width: 300px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 100px;
    margin-top: 70px;
}

@media (max-width: 768px) {
    .profilephoto {
        width: 200px;
    }
}